@page
@model InyeccionDependenciaExplicado.Pages.ArbolModel
@{
}

<h3>Arbol de Dependencias.</h3>

<p>Arbol de dependencias de clases con interface, en el codigo se puede ver como NO se deberia implementar y si utizar la inyeccion de dependencia.</p>

<p><strong>Resultado = @Model.Mensaje</strong></p>