@page
@model InyeccionDependenciaExplicado.Pages.InyectarModel
@{
}
<h3>Inyección de Dependencia Simple</h3>

<p>Forma basica y simple de implementar una inyeccion de Dependencias, revisar el Contenedor de inversion de Controles en el startup</p>


<p><strong>Resultado = @Model.Mensaje</strong></p>